# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/
*.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Models
models/*

# Reports
reports/*

# OS
.DS_Store
Thumbs.db
